wahaha对zhaoLiu说:你好哇
wahaha对zhaoLiu说:哇哈哈哈
[系统公告]张三来到zhenglfsir聊天室，大家欢迎
张三对李四说:我还有很多id在里面
[系统公告]小三三年来到zhenglfsir聊天室，大家欢迎
小三三年对admin说:哈喽，admin
[系统公告]美国人已被禁止发言
[系统公告]日本人已被禁止发言!
[系统公告]zhangSan来到zhenglfsir聊天室，大家欢迎
zhangSan对李四说:dsd
[系统公告]美国人来到zhenglfsir聊天室，大家欢迎
美国人对中国人说:DFDSDS
[系统公告]日本人来到zhenglfsir聊天室，大家欢迎
日本人对中国人说:你麻痹
小三三年对中国人说:你麻痹
[系统公告]郭志康来到zhenglfsir聊天室，大家欢迎
郭志康对美国人说:哈喽world
[系统公告]郭志来到zhenglfsir聊天室，大家欢迎
郭志对美国人说:哈喽world
[系统公告]郭志康已被禁止发言!
[系统公告]廓志隶来到zhenglfsir聊天室，大家欢迎
廓志隶对郭志康说:helloworld
美国人火对美国人说:你麻痹 狠狠的踢了美国人一脚[系统公告]已被禁止发言!
wahaha[^_^]对zhaoLiu说:你麻痹 [在zhaoLiu的头上敲了一下]
[系统公告]已被禁止发言!
[系统公告]已被禁止发言!
[系统公告]已被禁止发言!
美国人对中国人说:你麻痹 [狠狠的踢了中国人一脚]
美国人对中国人说: [狠狠的踢了中国人一脚]
美国人对中国人说:[狠狠的踢了中国人一脚]
美国人对中国人说:[狠狠的踢了中国人一脚]
美国人对中国人说:[狠狠的踢了中国人一脚]
美国人对中国人说:我还有很多id在里面 [狠狠的踢了中国人一脚]
美国人对中国人说:我还有很多id在里面 [狠狠的踢了中国人一脚]
对说:
美国人对中国人说:哈喽world
美国人对中国人说:我还有很多id在里面
美国人对中国人说:我还有很多id在里面
美国人对中国人说:
美国人对中国人说:哈喽，admin
美国人对中国人说:哈喽world
美国人对中国人说:
美国人对中国人说:[在中国人的头上敲了一下]
美国人对美国人说:[狠狠的踢了美国人一脚]
小三三年对zhaoLiu说:
对说:
对说:
对说:
对说:
对说:
对说:
对说:
对说:
对说:
